<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project-2</title>
</head>
<body>
   
    <h1>update <%= fighter.name%>'s status </h1>
    <form action="/fighter/<%= fighter._id%>?_method=put" method="post">
    <input type="text" id="name" name="name"
    value="<%= fighter.name%>" required>

    <input type="text" id="age" name="age" value="<%= fighter.age%> " required/>

    <input type="number" id="ko" name="ko" min="0"   value="<%= fighter.ko%>"      required/>

    <input type="submit" value="update <%=fighter.name%>"/>
<main>
    
</main>




    
    </form>
</body>
</html>