<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project-2</title>
</head>
<body>
    <h1><%=fighter.name%> profile </h1>
    <ul>
        <% if (fighter.type) { %>
            <% for (let i = 0; i < fighter.type.length; i++) { %>
              <li><%= fighter.type[i] %></li>
            <% } %>
          <% } %>
    </ul>
    <p>Name:<%= fighter.name%></p>
    <p>Age:<%= fighter.age%></p>
    <p>Weight:<%= fighter.weight%></p>
    <p>Height:<%= fighter.height%></p>
    <P>Reach:<%= fighter.reach %></P>
    <p>Wins:<%= fighter.wins%></p>
    <P>Losses:<%= fighter.losses%></P>
    <p>City:<%= fighter.city%></p>
    <p>KO:<%= fighter.ko%></p>
    <p>Submission:<%= fighter.sub%></p>
 
    <form action="/fighter/<%= fighter._id%>?_method=delete" method="post">
    <button type="submit"> delete</button>
    </form>
  <ul>
    <a href="/fighter/<%= fighter._id%>/edit">update fighter </a>
  </ul>
  <ul>
    <a href="/fighter">see list</a>
 
  </ul>
</body>
</html>